.product-detail-container {
  max-width: 1200px;
  margin: 60px auto;
}

/* ===== 상품 영역 ===== */
.product-detail {
  display: flex;
  gap: 50px;
}

.product-image img {
  width: 600px;
  border: 1px solid var(--border-color);
}

/* 정보 */
.product-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seller-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-grey);
}

.product-info h1 {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  color: var(--text-black);
}

.price {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-black);
}

#productPrice {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0;
  color: var(--text-black);
}

.shipping {
  font-size: 14px;
  color: var(--text-grey);
  padding: 20px;
  margin-bottom: 30px;
}

/* 수량 */
.quantity-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.quantity-box button {
  width: 32px;
  height: 32px;
  border: 1px solid var(--border-color);
  background: var(--text-white);
  cursor: pointer;
}

.quantity-box button:disabled {
  color: var(--text-grey);
  cursor: not-allowed;
  opacity: 0.5;
}

.quantity-box span {
  min-width: 20px;
  text-align: center;
}

/* 총 금액 */
.total-box {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--border-color);
  align-items: first baseline;
  padding-top: 20px;
  margin-bottom: 30px;
}

.total {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-black);
}

.total-summary {
  display: inline;
}

.total-quantity {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-grey);
}
.total-box strong {
  color: var(--main-color);
  font-size: 18px;
}
#totalPrice {
  font-size: 36px;
  font-weight: 700;
}

/* 버튼 */
.action-buttons {
  display: flex;
  gap: 10px;
}

.action-buttons button {
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.buy {
  width: 66%;
  background-color: var(--main-color);
  color: var(--text-white);
  border: none;
}

.cart {
  width: 33%;
  background-color: var(--text-grey);
  color: var(--text-white);
  border: none;
}

/* ===== 하단 탭 ===== */
.detail-tab {
  display: flex;
  margin-top: 80px;
  border-bottom: 1px solid var(--border-color);
}

.detail-tab .tab {
  flex: 1;
  padding: 20px 0;
  font-size: 16px;
  color: var(--text-grey);
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.detail-tab .tab.active {
  color: var(--main-color);
  border-bottom-color: var(--main-color);
}
